<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/footer_bottom.js"></script>
<script type="text/javascript">
    //$('#myModal').modal('show');
</script>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="top: 30%;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Please support the site</h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr>
                <td style="border: 0px solid black;">
                    <h3>Twitter</h3>
                    <iframe data-twttr-rendered="true" title="Twitter Follow Button" style="width: 119px; height: 20px;"
                            class="twitter-follow-button twitter-follow-button"
                            src="http://platform.twitter.com/widgets/follow_button.1375828408.html#_=1376848056540&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=shaharia&amp;show_count=false&amp;show_screen_name=true&amp;size=m"
                            allowtransparency="true" frameborder="0" scrolling="no"></iframe>
                    </span>
                </td>
                <td style="border: 0px solid black;">
                    <h3>Facebook</h3>

                    <div id="fb-root"></div>
                    <div fb-xfbml-state="rendered" class="fb-like fb_edge_widget_with_comment fb_iframe_widget"
                         data-href="https://www.facebook.com/shahariaazamweb" data-send="false" data-width="450"
                         data-show-faces="true" data-layout="button_count"><span style="height: 21px; width: 76px;"><iframe
                            src="http://www.facebook.com/plugins/like.php?api_key=&amp;locale=en_US&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D26%23cb%3Df39c9cba272705a%26origin%3Dhttp%253A%252F%252Fwww.shahariaazam.com%252Ff15a21bee9a5bb4%26domain%3Dwww.shahariaazam.com%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fwww.facebook.com%2Fshahariaazamweb&amp;node_type=link&amp;width=450&amp;layout=button_count&amp;colorscheme=light&amp;show_faces=false&amp;send=false&amp;extended_social_context=false"
                            class="fb_ltr" title="Like this content on Facebook."
                            style="border: medium none; overflow: hidden; height: 21px; width: 76px;"
                            name="f336ef9d37939e6" id="f26283550310d3" scrolling="no"></iframe></span></div>
                    </span>
                </td>
                <td style="border: 0px solid black;">
                    <h3>Google+</h3>
                    <iframe title="+1" data-gapiattached="true"
                            src="https://apis.google.com/u/0/_/+1/fastbutton?bsv=o&amp;usegapi=1&amp;size=medium&amp;annotation=bubble&amp;hl=en&amp;origin=http%3A%2F%2Fwww.shahariaazam.com&amp;url=http%3A%2F%2Fwww.shahariaazam.com%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.dipFdyrvSMQ.O%2Fm%3D__features__%2Fam%3DEQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTObig-rw9WAHTl20AVon8VgNqCn7g#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Conload&amp;id=I0_1376848050526&amp;parent=http%3A%2F%2Fwww.shahariaazam.com&amp;pfname=&amp;rpctoken=29883086"
                            name="I0_1376848050526" id="I0_1376848050526" vspace="0" tabindex="0"
                            style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;"
                            marginwidth="0" marginheight="0" hspace="0" frameborder="0" scrolling="no"
                            width="100%"></iframe>
                </td>
            </tr>
        </table>
        <button class="btn btn-small" data-dismiss="modal" aria-hidden="true" style="height: 35px;">Close</button>
        <button class="btn btn-primary btn-small" style="height: 35px;">Save changes</button>
    </div>
</div>

<!--Google Analytics-->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15314041-1']);
    _gaq.push(['_setDomainName', 'shahariaazam.com']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
<!--@Google Analytics-->
<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5213ced8321201d5"></script>
<script type="text/javascript">
    addthis.layers({
        'theme' : 'transparent',
        'share' : {
            'position' : 'left',
            'numPreferredServices' : 6
        },
        'follow' : {
            'services' : [
                {'service': 'facebook', 'id': 'shaharia.azam'},
                {'service': 'twitter', 'id': 'shaharia'},
                {'service': 'linkedin', 'id': 'shaharia'},
                {'service': 'google_follow', 'id': '114541364064474970092'},
                {'service': 'youtube', 'id': 'shahariaazam‎'}
            ]
        },
        'whatsnext' : {},
        'recommended' : {
            'title': 'Recommended for you:'
        }
    });
</script>
<!-- AddThis Smart Layers END -->
</body>
</html>