<div class="sidebar pure-u">
    <header class="header">
        <hgroup>
            <h1 class="brand-title">SHAHARIA AZAM</h1>

            <h2 class="brand-tagline">Blog of Shaharia Azam</h2>

        </hgroup>

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="pure-button" href="http://www.shahariaazam.com">Personal Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="http://blog.shahariaazam.com">Blog Home</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="http://blog.shahariaazam.com/category">Categories</a>
                </li>
            </ul>
        </nav>

        <p>&nbsp;</p>

        <form action="http://www.google.com/search" class="pure-form" method="get" target="_blank">
            <fieldset>
                <input id="q" name="q" type="text" value="">
                <input type="hidden" name="q" value="site:http://blog.shahariaazam.com">
                <button type="submit" class="pure-button pure-button-primary">Go</button>
            </fieldset>
        </form>
    </header>
</div>