<article class="widget-search-form widget">
    <header>
        <h1>Pages</h1>
    </header>
    <ul>
        {% assign lastIsChild = false %}
        {% for page in site.pages reversed %}
        {% if page.isChild and lastIsChild != true %}
        <ul>{% endif %}
            {% if lastIsChild and page.isChild != true %}
        </ul>
        {% endif %}
        {% if page.include != true %}

        {% else %}
        <li>&raquo; <a href="{{ page.url }}">{{ page.title }}</a>
        {% endif %}
            {% assign lastIsChild = page.isChild %}
            {% endfor %}
    </ul>
</article>