/*
 *  Chris Blog
 *  @Author: Shaharia Azam <shahariaazam.com>
 *  @Description: Custom CSS for chris blog
 */
.glyphicons-showoff i {
    margin-right: 6px;
    margin-left: 5px;
}

.button-showoff {
    text-align: center;
    margin-bottom: 30px;
}

.glyphicons-retinapng .glyphicons-icon {
    background-image: url(../img/glyphicons/glyphicons_2x.png);
    background-size: 463px 1994px;
}

.halflings-retinapng .halflings-icon {
    background-image: url(../img/glyphicons/glyphicons_halflings_2x.png);
    background-size: 469px 182px;
}

.lt-ie9 .glyphicons-retinapng .glyphicons-icon {
    background-image: url(../img/glyphicons/glyphicons.png);
    background-size: 463px 1994px;
}

.lt-ie9 .halflings-retinapng .halflings-icon {
    background-image: url(../img/glyphicons/glyphicons_halflings.png);
    background-size: 469px 182px;
}

/* Google Font */

body{
    font-family: 'Oswald', sans-serif;
    background-color: #ffffff;
}

.content-area{
    border-top: 1px solid #696969;
}

.zone-content .meta{
    color: #a9a9a9;
    font-weight: normal;
    font-size: 14px;
}

pre{
    border: none;
}

p{
    margin-bottom: 0px;
}

body, p, code, pre{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.zone-content img{
    border: 1px solid #dddddd;
    padding: 25px;
    box-shadow: 3px 3px 30px #dddddd;
    -webkit-box-shadow: 3px 3px 30px #dddddd;
    -moz-box-shadow: 3px 3px 30px #dddddd;
}
.zone-content pre, .zone-content code{
    box-shadow: 1px 1px 10px #dddddd;
    -webkit-box-shadow: 1px 1px 10px #dddddd;
    -moz-box-shadow: 1px 1px 10px #dddddd;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    color: #000000;
}