{% include header.html %}
<body>

<div class="container home-container">
    <div class="row">

        <div id="menu">
            <ul>
                <li><i class="entypo-home"></i><a href="/">Home</a></li>
                <li><i class="entypo-user"></i><a href="http://www.shahariaazam.com">Shaharia Azam</a></li>
                <li><i class="entypo-star"></i><a href="/category">Categories</a></li>
            </ul>
        </div>

        <div class="sidebar col-md-5 col-sm-12 ">

                <span class="menu-trigger side-writer-icon animated fadeInDown">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </span>

            <!-- if the user has javascript disabled they can still use the menu -->
            <noscript>
                <div class="no-js-menu">
                    <ul>
                        <li><i class="entypo-home"></i><a href="/">Home</a></li>
                        <li><i class="entypo-user"></i><a href="http://www.shahariaazam.com">Shaharia Azam</a></li>
                        <li><i class="entypo-star"></i><a href="/category">Categories</a></li>
                    </ul>
                </div>
            </noscript>
            <!-- end no script -->

            <div class="site-info">
                <div class="primary-info">
                    <h1>Shaharia Azam</h1>
                    <p>PHP Geek, Cloud Server Expert, Tech early adopter </p>

                    <p>Draw your future with your code</p>
                </div>
                <div class="secondary-info">
                </div>
            </div>

        </div>

        <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

            <div class="nav">
                <a href="#" class="select-posts active">Posts</a>
            </div>

            {{ content }}

            <div class="home-footer">
                &copy; All rights reserved by <a href="http://www.shahariaazam.com">Shaharia Azam</a>

            </div>

        </div><!-- main content -->

    </div> <!--/row -->

</div> <!-- /container -->

{% include footer.html %}
