{% include header.html %}
<body>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=497298506979551";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="pure-g-r" id="layout">
    {% include navigation-side.html %}

    <div class="pure-u-1">
        <div class="content">
            <!-- A wrapper for all the blog posts -->

            <div class="posts">

                {{content}}

            </div>

            {% include footer_text.html %}
        </div>
    </div>
</div>

{% include footer.html %}