{% include header.html %}
<body>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5213ced8321201d5" async="async"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5213ced8321201d5" async="async"></script>

{% include fb-script.html %}

<span class="menu-trigger writer-icon animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

<div class="hero-image hero-a-great-story" style="">

    <!-- if the user has javascript disabled they can still use the menu -->
    <noscript>
        <div class="no-js-menu">
            <ul>
                <li><i class="entypo-home"></i><a href="/">Home</a></li>
                <li><i class="entypo-user"></i><a href="http://www.shahariaazam.com">Shaharia Azam</a></li>
                <li><i class="entypo-star"></i><a href="/category">Categories</a></li>
            </ul>
        </div>
    </noscript>
    <!-- end no script -->

</div>

<div class="container">
    <div class="row">

        <div id="menu">
            <ul>
                <li><i class="entypo-home"></i><a href="/">Home</a></li>
                <li><i class="entypo-user"></i><a href="http://www.shahariaazam.com">Shaharia Azam</a></li>
                <li><i class="entypo-star"></i><a href="/category">Categories</a></li>

            </ul>
        </div>
        <div class="col-xs-12 main-content single-content">
            <h1>{{ page.title }}</h1>

            <p class="meta">
                Published on {{ page.date | date: "%d %b %Y" }} <br>
                <!-- AddThis Button BEGIN -->
            </p>

            <p>
                {{ content }}
            </p>

            <hr>

            {% include adsense.html %}

            {% include disqus.html %}

        </div>
        <!-- main-content/col -->


    </div>
    <!--/row -->

</div>
<!-- /container -->
{% include footer.html %}
